<!-- views/partials/errors.ejs -->
<div class="errors">
  <% if (locals.errors) {%>
  <ul>
    <% errors.forEach(function(error) { %>
    <li><%= error.msg %></li>
    <% }); %>
  </ul>
  <% } %>
</div>
