<!-- views/createUser.ejs -->

<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <h1><%= title %></h1>
    <div class="outer-container">
      <%- include("partials/errors.ejs") %>
      <form
        class="inner-container create-bg-color"
        action="/create"
        method="POST"
      >
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" placeholder="Enter your first name" required />
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" placeholder="Enter your last name" required />
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter a valid email address" required />
        <label for="age">Age</label>
        <input type="number" name="age" id="age" min="18" max="120" placeholder="Enter a number between 18 and 120" />
        <label for="bio">Bio</label>
        <textarea name="bio" id="bio" maxlength="200" placeholder="Maximum of 200 characters"></textarea>
        <div class="inner-controls">
          <button type="submit">Submit</button>
        </div>
      </form>
      <div class="outer-controls">
        <a href="/">Back to home</a>
      </div>
    </div>
  </body>
</html>
