:root {
  --font-title: "Cabin Sketch", sans-serif;
  --font-text: "Funnel Sans", sans-serif;

  --border-radius: 0.75rem;

  --white: #ffffff;
  --black: #000000;

  --text-color: #242121;
  --other-text-color: #242221ad;

  --main-color: #46404a;
  --index-color: #958395;
  --create-bg-color: #966161;
  --update-bg-color: #616596;
  --search-bg-color: #619673;
  --hover-color: #ffd700;
  --error-color: #a31919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

body {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-text);
  color: var(--text-color);
  padding: 1rem;
}

h1 {
  color: var(--white);
  font-family: var(--font-title);
  font-size: 3.25rem;
  margin: 0.25rem;
  text-transform: capitalize;
}

.outer-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: var(--border-radius);
  color: var(--white);
  padding: 0.25rem;
}

.inner-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--index-color);
  border: 2px solid var(--black);
  border-radius: var(--border-radius);
  margin: 0.5rem;
  padding: 0.5rem;
}

.user-details-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: var(--text-color);
  border: 2px dashed var(--white);
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
    /* WORD BREAKING HERE!!! For super long words entered by the user.*/
  overflow-wrap: break-word;
  word-wrap: break-word; /* legacy */
  word-break: break-word; /* extra robustness */
}

p {
  color: var(--white);
  font-size: 1.125rem;
}

.inner-controls {
  display: flex;
  gap: 0.75rem;
  margin: 0.5rem 0;
}

a,
button {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 0.125rem solid var(--text-color);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0.125rem 0.5rem var(--other-text-color);
  color: var(--black);
  font-family: var(--font-title);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
}

a:hover,
button:hover {
  background-color: var(--hover-color);
  border: 0.125rem solid var(--hover-color);
}

.outer-controls {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin: 1rem;
}

label {
  font-family: var(--font-title);
  font-size: 1rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

input,
textarea {
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}

textarea {
  height: 4rem;
}

.create-bg-color {
  background-color: var(--create-bg-color);
}

.update-bg-color {
  background-color: var(--update-bg-color);
}
.search-bg-color {
  background-color: var(--search-bg-color);
}

.errors,
ul {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0.25rem 0 0 0.25rem;
}

.errors li {
  color: var(--error-color);
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.search-directions {
  height: fit-content;
  width: 400px;
  color: var(--text-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  margin: 0.25rem;
  text-align: center;
  text-transform: uppercase;
}

.search-results-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border: 2px solid var(--black);
  border-radius: var(--border-radius);
  color: var(--white);
  font-family: var(--font-title);
  font-size: 1.125rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-family: var(--font-text);
  padding: 0.5rem;
  /* WORD BREAKING HERE!!! For super long words entered by the user.*/
  overflow-wrap: break-word;
  word-wrap: break-word; /* legacy */
  word-break: break-word; /* extra robustness */
}

.name-result {
  color: var(--hover-color);
  font-weight: 600;
}

.bio-result {
  margin-bottom: 0.25rem;
}

.no-results {
  font-family: var(--font-text);
  font-style: italic;
}

hr {
  border: 1px dashed var(--index-color);
  margin-bottom: 0.75rem;
}
